.board {
    -fx-background-image: url(board.png);
}

.chess-space-light {
    -fx-background-color: #FFCE9E;
}

.chess-space-dark {
    -fx-background-color: #D18B47;
}

.chess-space-active {
    -fx-background-color: lightblue;
}

.chess-space-valid {
    -fx-border-radius: 30;
    -fx-border-color: blue;
}

.chess-space-under-attack {
    -fx-border-radius: 30;
    -fx-border-color: red;
}